In [132]:
import pandas as pd
from typing import Any
import re

## CLEANING TASKS <br>
1.	Standardize column names (snake_case) <br>
2.	Strip whitespace from all string fields <br>
3.	Normalize missing values (NaN, empty string, “-”, “NA”, “n/a”) <br>
4.	Convert Amount In USD to numeric <br>
5.	Convert Date to datetime <br>
6.	Clean city names (Bangalore/Bengaluru, Bombay/Mumbai, etc.) <br>
7.	Extract year from Date <br>
8.	Standardize Investment Type (Seed/Seed Funding → Seed) <br>
9.	Split multiple investors into lists <br>
10.	Clean Startup Name (remove suffixes like “ Pvt Ltd”, “ Limited”) <br>

In [133]:
df = pd.read_csv('/Users/olixstudios/Documents/workspace/Projects/indian-startups-transformations/data/starup.csv')
first_column_name = df.columns[0]
df = df.drop(columns=[first_column_name], errors="ignore")

In [134]:
print(df.head(52).to_dict())

{'Date': {0: '01-04-2021', 1: '05-04-2021', 2: '14-04-2021', 3: '07-04-2021', 4: '14-04-2021', 5: '04-03-2021', 6: '31-03-2021', 7: '30-03-2021', 8: '30-03-2021', 9: '23-03-2021', 10: '25-03-2021', 11: '26-03-2021', 12: '11-02-2021', 13: '22-02-2021', 14: '19-02-2021', 15: '17-02-2021', 16: '15-02-2021', 17: '12-02-2021', 18: '12-02-2021', 19: '09-02-2021', 20: '09-02-2021', 21: '15-01-2021', 22: '28-01-2021', 23: '19-01-2021', 24: '19-01-2021', 25: '18-01-2021', 26: '18-01-2021', 27: '11-01-2021', 28: '13-01-2021', 29: '15-12-2020', 30: '21-12-2020', 31: '15-12-2020', 32: '22-12-2020', 33: '15-12-2020', 34: '18-12-2020', 35: '30-11-2020', 36: '30-11-2020', 37: '29-11-2020', 38: '27-11-2020', 39: '25-11-2020', 40: '25-11-2020', 41: '25-11-2020', 42: '24-11-2020', 43: '30-11-2020', 44: '23-11-2020', 45: '28-10-2020', 46: '28-10-2020', 47: '28-10-2020', 48: '27-10-2020', 49: '27-10-2020', 50: '27-10-2020', 51: '27-10-2020'}, 'Startup': {0: "BYJU'S", 1: 'Meesho', 2: 'Swiggy', 3: 'Groww', 4: 'Beldara', 5: 'DealShare', 6: 'Uniphore', 7: 'Dunzo', 8: "BYJU'S", 9: 'SkilloVilla', 10: 'CityMall', 11: 'DotPe', 12: 'Doubtnut', 13: 'Zomato', 14: 'Fingerlix', 15: 'Zolve', 16: 'KreditBee', 17: 'Pepperfry', 18: 'Grofers', 19: 'Nothing', 20: 'SplashLearn', 21: 'Digit Insurance', 22: 'Bombay Shaving Company', 23: 'DeHaat', 24: 'Darwinbox', 25: 'mfine', 26: 'Udayy', 27: 'True Elements', 28: 'Saveo', 29: 'Bira 91', 30: 'Pine Labs', 31: 'Zenoti', 32: 'Tax Buddy India', 33: 'Delhivery', 34: 'PagarBook', 35: 'Codingal', 36: 'CRED', 37: 'Bira 91', 38: 'Chumbak', 39: 'Cityflo', 40: 'Shipsy', 41: 'Unacademy', 42: 'Cashfree', 43: 'Credgenics', 44: 'Country Delight', 45: 'Nykaa', 46: 'Betterplace', 47: 'FlexiLoans', 48: 'GetVantage', 49: 'FreshToHome', 50: 'Origo', 51: 'Origo'}, 'Industry': {0: 'Edu-tech', 1: 'E-commerce', 2: 'Online Food Delivery', 3: 'FinTech', 4: 'E-commerce', 5: 'E-commerce', 6: 'Technology', 7: 'E-commerce', 8: 'Edu-tech', 9: 'Edu-tech', 10: 'E-commerce', 11: 'FinTech', 12: 'Edu Tech', 13: 'Hospitality', 14: 'Hospitality', 15: 'FinTech', 16: 'Finance', 17: 'E-commerce', 18: 'E-Commerce', 19: 'Technology', 20: 'EdTech', 21: 'Financial Services', 22: 'Consumer Goods Company', 23: 'AgriTech Startup', 24: 'SaaS', 25: 'Health Tech Startup', 26: 'EdTech', 27: 'Food Startup', 28: 'B2B E-commerce', 29: 'Food and Beverage', 30: 'Financial Services', 31: 'Technology Provider', 32: 'FinTech', 33: 'Supply chain ', 34: 'SaaS', 35: 'EduTech', 36: 'Financial Services', 37: 'Food and Beverage', 38: 'Lifestyle', 39: 'Transportation', 40: 'SaaS', 41: 'Edutech', 42: 'FinTech', 43: 'Fintech', 44: 'Dairy Tech', 45: 'E-commerce', 46: 'Digital Solutions', 47: 'FinTech', 48: 'FinTech', 49: 'E-commerce', 50: 'AgriTech', 51: 'Advertising'}, 'Location': {0: 'Bengaluru', 1: 'Bengaluru', 2: 'Bengaluru', 3: 'Bengaluru', 4: 'Mumbai', 5: 'Jaipur, Rajasthan', 6: 'Palo Alto', 7: 'Bengaluru', 8: 'Bengaluru', 9: 'Bengaluru', 10: 'Gurgaon', 11: 'Gurgaon', 12: 'Gurgaon', 13: 'Gurgaon', 14: 'Mumbai', 15: 'Mumbai', 16: 'Bengaluru', 17: 'Mumbai', 18: 'Gurgaon', 19: 'London', 20: 'Gurgaon', 21: 'Bengaluru', 22: 'New Delhi', 23: 'Patna', 24: 'Mumbai', 25: 'Bengaluru', 26: 'Gurgaon', 27: 'Pune', 28: 'Bengaluru', 29: 'New Delhi', 30: 'Noida', 31: 'Washington', 32: 'Mumbai', 33: 'Gurgaon', 34: 'Bengaluru', 35: 'Bengaluru', 36: 'Bengaluru', 37: 'New Delhi', 38: 'Bengaluru', 39: 'Mumbai', 40: 'Gurgaon', 41: 'Bengaluru', 42: 'Bengaluru', 43: 'Gurgaon', 44: 'Gurugram', 45: 'Mumbai', 46: 'Bangalore', 47: 'Mumbai', 48: 'Mumbai', 49: 'Bangalore', 50: 'Gurgaon', 51: 'Mumbai'}, 'Investor': {0: 'Innoven Capital', 1: 'SoftBank Vision Fund 2', 2: 'Amansa Holdings, Carmignac, Falcon Edge Capital, Goldman Sachs, Think Investments', 3: 'MC Global Edtech, B Capital, Baron, others', 4: 'Hindustan Media Ventures', 5: 'Innoven Capital', 6: 'Sorenson Capital Partners', 7: 'Krishtal Advisors Pte Ltd', 8: 'MC Global Edtech, B Capital, Baron, others', 9: 'Titan Capital, others', 10: 'Accel Partners', 11: 'PayU', 12: 'SIG Global, Sequoia Capital, WaterBridge Ventures and ON Mauritius', 13: 'Tiger Global, Kora', 14: 'Rhodium Trust, Accel Partners and Swiggy', 15: 'Accel Partners and Lightspeed Venture Partners', 16: 'Azim Premji’s PremjiInvest and South Korea’s Mirae Asset Venture', 17: 'InnoVen Capital', 18: 'SoftBank Vision Fund (SVF)', 19: 'GV', 20: 'Owl Ventures', 21: 'A91 Partners, Faering Capital, TVS Capital Funds', 22: 'Reckitt Benckiser', 23: 'Prosus Ventures', 24: 'Salesforce Ventures', 25: 'Heritas Capital Management', 26: 'Sequoia Capital ', 27: 'SIDBI Venture Capital', 28: 'Matrix Partners India, RTP Global, others', 29: 'Nishant Mittal, Pankaj Chaddah and Shikha Sunil Chandak', 30: 'Lone Pine Capital', 31: 'Advent International', 32: 'Zenith Global', 33: 'Steadview Capital ', 34: 'Sequoia Capital ', 35: 'Rebright Partners, Java Capital, and GSF Accelerator', 36: 'DST Global', 37: 'Sofina, Sequoia Capital, Sixth Sense Ventures, Neoplux', 38: 'Gaja Capital Fund (GCFII-A)', 39: 'Lightbox Ventures', 40: 'Sequoia Capital India’s Surge, Info Edge', 41: 'Tiger Global Management, Dragoneer Investment Group', 42: 'Matrix Partners India, SAIF Partners, Ward Ferry Management and Bertelsmann India', 43: 'Venture Capital firm, Accel Partners and DMI Finance', 44: 'Elevation Capital', 45: 'Alia Bhatt', 46: 'Jungle Ventures', 47: 'Falguni and Sanjay Nayar Family Office', 48: 'Chiratae Ventures, Dream Incubators', 49: 'Corporation of Dubai (ICD), Ascent Capital, DFC, the Allana Group\n', 50: 'Northern Arc Capital', 51: 'Sequoia Capital India'}, 'Type': {0: 'Series F', 1: 'Series E', 2: 'Series J', 3: 'Series D', 4: 'Venture', 5: 'Debt Financing', 6: 'Series D', 7: 'Series E', 8: 'Series F', 9: 'Seed', 10: 'Series A', 11: 'Series A', 12: 'Series B', 13: 'Venture', 14: 'Series C', 15: 'Seed', 16: 'Series C', 17: 'Debt Financing', 18: 'Unspecified', 19: 'Series A', 20: 'Series C', 21: 'Venture', 22: 'Venture', 23: 'Series C', 24: 'Seed', 25: 'Venture Round', 26: 'Seed Funding', 27: 'Series', 28: 'Seed', 29: 'Funding', 30: 'Secondary Market', 31: 'Series D', 32: 'Seed', 33: 'Secondary Market', 34: 'Series A', 35: 'Seed', 36: 'Series C', 37: 'Bridge Funding', 38: 'Pre-series E', 39: 'Series A', 40: 'Series A', 41: 'Venture ', 42: 'Series B', 43: 'Pre-Series A', 44: 'Series C', 45: 'Personal Investment', 46: 'Series B', 47: 'Equity and Debt ', 48: 'Seed', 49: 'Series C', 50: 'Debt ', 51: 'Series A'}, 'Amount': {0: '46,00,00,000', 1: '30,00,00,000', 2: '34,30,00,000', 3: '8,30,00,000', 4: '74,00,000', 5: '25,00,00,000', 6: '14,00,00,000', 7: '80,00,000', 8: '46,00,00,000', 9: '30,00,00,000', 10: '1,10,00,000', 11: '2,75,00,000', 12: '25,00,000', 13: '25,00,00,000', 14: '27,47,045.20', 15: '1,50,00,000', 16: '7,50,00,000', 17: '47,73,958', 18: '5,50,00,000', 19: '1,50,00,000', 20: '1,80,00,000', 21: '1,80,00,000', 22: '61,72,258.50', 23: '3,00,00,000', 24: '1,50,00,000', 25: '1,60,00,000', 26: '1,50,00,000', 27: '10,00,00,000', 28: '40,00,000', 29: '12,73,634.07', 30: 'Undisclosed', 31: '16,00,00,000', 32: '10,00,000', 33: '2,50,00,000', 34: '1,50,00,000', 35: '5,60,000', 36: '8,00,00,000', 37: '30,00,000', 38: '10,01,047.92', 39: '77,00,000', 40: '60,03,806', 41: '10,00,00,000', 42: '3,53,00,000', 43: '35,00,000', 44: '2,50,00,000', 45: nan, 46: '10,000,000\n', 47: '2,01,60,000', 48: '50,00,000', 49: '12,10,00,000', 50: '47,00,000', 51: '1,50,00,000'}}

In [135]:
def clean_column_names(df: pd.DataFrame) -> pd.DataFrame:
    def _snake_case(s: Any) -> str:
        if not isinstance(s, str):
            s = str(s)
        s  = s.strip()
        s = s.replace(" ", "_")
        s = re.sub(r"[^\w\s]", "", s)  
        return s.lower()
    df =  df.copy()
    df.columns = [_snake_case(col) for col in df.columns]
    return df

In [136]:
def normalize_missing_values(df: pd.DataFrame) -> pd.DataFrame:
    MISSING_TOKENS = ["N/A", "n/a", "NA", "na", "-", "--", " ", ""]
    df = df.copy()
    df.replace(to_replace=MISSING_TOKENS, value=pd.NA, inplace=True)
    return df

In [137]:
# df["amount"].fillna(0)

In [138]:
# df["amount"] = df["amount"].str.replace(",", "")
# df["amount"] = pd.to_numeric(df["amount"], errors='coerce')
# df

In [139]:
def clean_amount_column(df: pd.DataFrame, col: str = "amount") -> pd.DataFrame:
    df = df.copy()
    df[col] = df[col].astype(str).fillna("")
    #df[col] = df[col].str.replace(",", "")
    df[col] = df[col].str.strip()
    #df[col] = df[col].str.replace(r"[\$,€£¥]", "", regex=True)
    df[col] = df[col].str.replace(r"[^0-9\.\-]", '', regex=True).replace('', pd.NA)
    df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

In [140]:
def parse_dates(df: pd.DataFrame, col: str = "date") -> pd.DataFrame:
    df = df.copy()
    df[col] = pd.to_datetime(df[col], errors='coerce') 
    return df

In [141]:
def date_analysis(df: pd.DataFrame, date_col: str = "date") -> pd.DataFrame:
    df = df.copy()
    df["year"] = df[date_col].dt.year
    df["date_missing"] = df[date_col].isna()
    return df

In [142]:
print('orig cols:', df.columns.tolist())
df = clean_column_names(df)
print('clean cols:', df.columns.tolist())
df = normalize_missing_values(df)
print('null counts:', df.isna().sum().to_dict())
df = clean_amount_column(df, col='amount')   # or amount_in_usd
print('amount dtype:', df['amount'].dtype)
df = parse_dates(df, col='date')
print('date dtype:', df['date'].dtype)
print(df[['amount','date']].head().to_dict())

orig cols: ['Date', 'Startup', 'Industry', 'Location', 'Investor', 'Type', 'Amount']
clean cols: ['date', 'startup', 'industry', 'location', 'investor', 'type', 'amount']
null counts: {'date': 5, 'startup': 5, 'industry': 5, 'location': 5, 'investor': 35, 'type': 12, 'amount': 57}
amount dtype: float64
date dtype: datetime64[ns]
{'amount': {0: 460000000.0, 1: 300000000.0, 2: 343000000.0, 3: 83000000.0, 4: 7400000.0}, 'date': {0: Timestamp('2021-01-04 00:00:00'), 1: Timestamp('2021-05-04 00:00:00'), 2: NaT, 3: Timestamp('2021-07-04 00:00:00'), 4: NaT}}

In [143]:
import numpy as np
temp = df['type'].unique()
temp = pd.DataFrame(temp)
temp

                       0
0               Series F
1               Series E
2               Series J
3               Series D
4                Venture
..                   ...
64             Mezzanine
65  Series B (Extension)
66  Equity Based Funding
67       Private Funding
68  Seed / Angel Funding

[69 rows x 1 columns]

In [144]:
temp = df['type'].groupby(df['type']).size()
temp

type
 Venture - Series Unknown    1
Angel                        7
Angel Round                  1
Bridge Funding               1
Bridge Round                 1
                            ..
Venture-Series Unknown       2
pre-Seed                     1
pre-Series A                 5
pre-Series B                 1
pre-series A                 1
Name: type, Length: 68, dtype: int64

In [145]:
temp = df['type']
temp

0                 Series F
1                 Series E
2                 Series J
3                 Series D
4                  Venture
              ...
611         Private Equity
612         Private Equity
613         Private Equity
614         Private Equity
615    Seed/ Angel Funding
Name: type, Length: 616, dtype: object

In [146]:
CANONICAL_PATTERNS = {
    r"^angel.*": "angel",
    r".*angel funding.*": "angel",
    r"^seed.*": "seed",
    r".*seed funding.*": "seed",
    r".*seed / angel.*": "seed",
    r"^pre[\s\-]?seed.*": "pre_seed",
    r"^pre[\s\-]?series a.*": "pre_seed",   # or "pre_series_a"
    r"^series [a-z0-9].*": "series",
    r".*venture.*": "venture",
    r".*private equity.*": "private_equity",
    r".*debt.*": "debt",
    r".*equity.*": "equity",
    r".*mezzanine.*": "mezzanine",
    r".*m&a.*": "ma",
    r".*bridge.*": "bridge",
    r".*secondary market.*": "secondary_market",
    r".*in progress.*": "in_progress",
    r".*unspecified.*": "unspecified",
}

def canonical_investment_type(s: pd.Series) -> pd.Series:
    s = s.astype(str).str.lower().str.strip()

    out = s.replace(CANONICAL_PATTERNS, regex=True)
    out = out.where(out.isin(set(CANONICAL_PATTERNS.values())), other="other")

    return out

In [147]:
df["type"].value_counts()

type
Private Equity         181
Seed/ Angel Funding    119
Series A                45
Series B                31
Series C                28
                      ...
Venture Series           1
Funding                  1
Pre-series A             1
Series G                 1
Pre Seed                 1
Name: count, Length: 68, dtype: int64

In [148]:

df["type_canonical"] = canonical_investment_type(df["type"])
df["type_canonical"].value_counts()

type_canonical
equity              188
series              147
angel               135
seed                 44
other                26
debt                 24
pre_seed             22
venture              20
in_progress           3
secondary_market      2
bridge                2
unspecified           1
ma                    1
mezzanine             1
Name: count, dtype: int64

In [149]:
SPLIT_PATTERN = r",\s*|;\s*|\s+&\s+"
def split_investors(s: pd.Series) -> pd.Series:
    s = s.astype(str).str.strip()
    out = s.fillna("").str.split(SPLIT_PATTERN)
    return out

df['investor_list'] = split_investors(df['investor'])
df['investor_count'] = df['investor_list'].apply(len)
df

,date,startup,industry,location,investor,type,amount,type_canonical,investor_list,investor_count
0,2021-01-04,BYJU'S,Edu-tech,Bengaluru,Innoven Capital,Series F,460000000.0,series,[Innoven Capital],1
1,2021-05-04,Meesho,E-commerce,Bengaluru,SoftBank Vision Fund 2,Series E,300000000.0,series,[SoftBank Vision Fund 2],1
2,NaT,Swiggy,Online Food Delivery,Bengaluru,"Amansa Holdings, Carmignac, Falcon Edge Capita...",Series J,343000000.0,series,"[Amansa Holdings, Carmignac, Falcon Edge Capit...",5
3,2021-07-04,Groww,FinTech,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series D,83000000.0,series,"[MC Global Edtech, B Capital, Baron, others]",4
4,NaT,Beldara,E-commerce,Mumbai,Hindustan Media Ventures,Venture,7400000.0,venture,[Hindustan Media Ventures],1
...,...,...,...,...,...,...,...,...,...,...
611,NaT,TheCapitalNet,Fin-Tech,Hyderabad,Lindwall Family Investments LLC (LFI),Private Equity,500000.0,equity,[Lindwall Family Investments LLC (LFI)],1
612,NaT,Shuttl,Consumer Internet,Gurugram,Amazon Alexa Fund & Dentsu Ventures,Private Equity,11000000.0,equity,"[Amazon Alexa Fund, Dentsu Ventures]",2
613,NaT,Cure Fit,Consumer Internet,Bengaluru,"IDG Ventures, Accel Partners, Kalaari Capital ...",Private Equity,120000000.0,equity,"[IDG Ventures, Accel Partners, Kalaari Capital...",3
614,NaT,Five Star Group,Fin-Tech,Chennai,"TPG, Norwest Venture Partners, Sequoia Capital...",Private Equity,100000000.0,equity,"[TPG, Norwest Venture Partners, Sequoia Capita...",4
615,NaT,Healthsignz,Healthcare,Hyderabad,Kantilal Patel,Seed/ Angel Funding,5000000.0,angel,[Kantilal Patel],1

In [150]:
temp = df['startup'].nunique() == len(df['startup'])
print(df['startup'].nunique())
print(len(df['startup']))
temp

326
616

False

In [151]:
gp = df['startup'].groupby(df['startup']).size().sort_values(ascending=False)
pd.DataFrame(gp)
gp

startup
Nykaa                6
Shuttl               6
LetsTransport        5
Udaan                5
BYJU'S               5
                    ..
 InCred Finance      1
LetsTransport\n\n    1
Licious              1
Lo! Foods            1
 Guiddoo             1
Name: startup, Length: 326, dtype: int64

In [152]:
SUFFIX_PATTERN = r"""
    \s+(
        pvt\.?\s*ltd      |   # Pvt Ltd / Pvt. Ltd
        private\s*limited |   # Private Limited
        ltd\.?            |   # Ltd / Ltd.
        limited           |   # Limited
        inc\.?            |   # Inc / Inc.
        incorporated      |
        corp\.?           |
        corporation
    )\s*$
"""    


def clean_startup_name(name: str) -> str:
    if not isinstance(name, str):
        return name

    # Normalize spaces and case
    s = name.strip()
    s = re.sub(SUFFIX_PATTERN, "", s, flags=re.IGNORECASE | re.VERBOSE)
    return s.strip()
df["startup_clean"] = df["startup"].apply(clean_startup_name)
df

,date,startup,industry,location,investor,type,amount,type_canonical,investor_list,investor_count,startup_clean
0,2021-01-04,BYJU'S,Edu-tech,Bengaluru,Innoven Capital,Series F,460000000.0,series,[Innoven Capital],1,BYJU'S
1,2021-05-04,Meesho,E-commerce,Bengaluru,SoftBank Vision Fund 2,Series E,300000000.0,series,[SoftBank Vision Fund 2],1,Meesho
2,NaT,Swiggy,Online Food Delivery,Bengaluru,"Amansa Holdings, Carmignac, Falcon Edge Capita...",Series J,343000000.0,series,"[Amansa Holdings, Carmignac, Falcon Edge Capit...",5,Swiggy
3,2021-07-04,Groww,FinTech,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series D,83000000.0,series,"[MC Global Edtech, B Capital, Baron, others]",4,Groww
4,NaT,Beldara,E-commerce,Mumbai,Hindustan Media Ventures,Venture,7400000.0,venture,[Hindustan Media Ventures],1,Beldara
...,...,...,...,...,...,...,...,...,...,...,...
611,NaT,TheCapitalNet,Fin-Tech,Hyderabad,Lindwall Family Investments LLC (LFI),Private Equity,500000.0,equity,[Lindwall Family Investments LLC (LFI)],1,TheCapitalNet
612,NaT,Shuttl,Consumer Internet,Gurugram,Amazon Alexa Fund & Dentsu Ventures,Private Equity,11000000.0,equity,"[Amazon Alexa Fund, Dentsu Ventures]",2,Shuttl
613,NaT,Cure Fit,Consumer Internet,Bengaluru,"IDG Ventures, Accel Partners, Kalaari Capital ...",Private Equity,120000000.0,equity,"[IDG Ventures, Accel Partners, Kalaari Capital...",3,Cure Fit
614,NaT,Five Star Group,Fin-Tech,Chennai,"TPG, Norwest Venture Partners, Sequoia Capital...",Private Equity,100000000.0,equity,"[TPG, Norwest Venture Partners, Sequoia Capita...",4,Five Star Group
615,NaT,Healthsignz,Healthcare,Hyderabad,Kantilal Patel,Seed/ Angel Funding,5000000.0,angel,[Kantilal Patel],1,Healthsignz